<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>OPEN FOR 2016 ENTRY...</h3>
                <h1>MSc Geographic Data Science.</h1>
                <h5>Providing excellent career opportunities, this programme develops applied skills in GIS and Data Science. </h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <a href = "https://slate.adobe.com/cp/e6XbJ/"><img src="{{ "/assets/img/browser_new.png" | prepend: site.baseurl }}" class="img-responsive"></a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->